<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Server.ServiceProviders.UserService"
               behaviorConfiguration="UserServiceBehavior">
        <endpoint name="MyEndPoint"
                  address="net.tcp://localhost:9000/UserService"
                  binding="netTcpBinding"
                  bindingConfiguration="Binding"
                  contract="Server.ServiceInterface.IAddUser" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/UserService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <!-- username binding -->
        <binding name="Binding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="UserServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults ="true"/>
          <serviceCredentials>
            <!--
          The serviceCredentials behavior allows one to
          specify a custom validator for username/password
          combinations.
          -->
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Server.Identity.IdentityValidator, Server" />
            <!--
          The serviceCredentials behavior allows one to define a service certificate. A service certificate is used by a client to authenticate the service and provide message protection. You must specify a server certificate when passing username/passwords to encrypt the information as it is sent on the wire. Otherwise the username and password information would be sent as clear text. This configuration references the "localhost" certificate installed during the setup instructions.
          -->
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <connectionStrings><add name="UsersModelContainer" connectionString="metadata=res://*/DatabaseModels.UsersModel.csdl|res://*/DatabaseModels.UsersModel.ssdl|res://*/DatabaseModels.UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database\UserDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
